header.header-wrapper {
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-alt);
}

div.header-container {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 10px;
  justify-content: space-between;
}

div.header-heading {
  display: flex;
  gap: 50px;
  height: 100%;
  justify-content: center;
}

h1.title {
  align-content: center;
}

nav.header-navlink > ul {
  display: flex;
  gap: 10px;
  height: 100%;
}

nav.header-navlink > ul > li {
  list-style: none;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

nav.header-navlink > ul > li:hover {
  font-weight: bold;
}

nav.header-navlink > ul > li:hover::after {
  transform: scaleY(1);
}

nav.header-navlink > ul > li::after {
  position: absolute;
  content: "";
  background: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}

nav.header-navlink > ul > li.active::after {
  transform: scaleY(1);
}

nav.header-navlink > ul > li > a.active {
  font-weight: bold;
}

nav.header-navlink > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
}

div.nav-link-wrapper {
  display: flex;
  gap: 10px;
  height: 100%;
}

div.nav-link-wrapper > a {
  background-color: var(--border);
  color: var(--text-color);
  box-shadow: 0 2px 3px var(--border);
  text-decoration: none;
  outline: 1px solid var(--text-color);
  text-align: center;
  align-content: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

div.nav-link-wrapper > a:hover {
  color: var(--border);
}

div.nav-link-wrapper > a:hover::after {
  transform: scaleY(1);
}

div.nav-link-wrapper > a::after {
  position: absolute;
  content: "";
  z-index: -1;
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}
